<!doctype html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="/css/ico.css" />
<link type="text/css" rel="stylesheet" href="/css/switch.css" />
<link type="text/css" rel="stylesheet" href="/css/tooltip.css" />
<link type="text/css" rel="stylesheet" href="/css/toPage.css" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/clipboard.min.js"></script>
<script type="text/javascript" src="/js/tooltip.js"></script>
<script type="text/javascript" src="/js/util.js"></script>
<script type="text/javascript" src="/js/toPage.js"></script>
<title>Z盘</title>
<style type="text/css">
#search {
	margin-top: 1em;
}

#search td, #showMore td {
	width: 6em;
	line-height: 40px;
}

#search select, #showMore select {
	padding: 0 0 0 0.2em;
}

#search input[type="text"], #showMore input[type="text"] {
	width: 100%;
}

.tRight {
	text-align: right;
	padding-right: 0.5em;
}

.tCenter {
	text-align: center;
	padding-right: 0.5em;
}

#userInfo {
	margin-top: 1em;
}

#userInfo td {
	vertical-align: middle;
}

#userInfo input[type="text"] {
	background-color: rgba(255, 255, 255, 0);
	border: solid #c1c1c1 1px;
	width: 100%;
}

#userInfo .visi {
	visibility: hidden;
}

#userInfo tr:hover .visi {
	visibility: visible;
}
</style>
<script>
	$(function() {
		initSearch();
		initUserInfo(JSON.stringify({
			orderBy : "id desc"
		}));
	});
	function initPage(current_page) {
		var json = searchJson();
		if (json != false) {
			initUserInfo(json, current_page);
		}
	}
	function initUserInfo(json, current_page = 1) {
		$("#userList").empty();
		tips();
		$.ajax({
			url : "/admin/userAll?pages=" + current_page,
			type : "post",
			data : json,
			contentType : "application/json;charset=UTF-8",
			dataType : "json",
			success : function(data) {
				var total_page = data.data.pages;
				toPage(initPage, total_page, current_page);
				var list = data.data.list;
				var tr,
					id,
					userinfoid,
					account,
					name,
					gender,
					year,
					description,
					type,
					sizeone,
					sizeall,
					sizecurrent,
					time;
				for (var i in list) {
					id = list[i].id;
					userinfoid = list[i].userinfoid;
					account = list[i].account;
					name = list[i].name;
					gender = (list[i].gender == 1) ? "checked" : "";
					year = list[i].year;
					type = list[i].type;
					description = list[i].description;
					sizeone = list[i].sizeone;
					sizeall = list[i].sizeall;
					sizecurrent = list[i].sizecurrent;
					time = time2Date(list[i].time);
					tr = "<tr userid='" + id + "' userinfoid='" + userinfoid + "' username='" + name + "'>"
						+ "<td><input type='checkbox' value='" + id + "' name='idcb' /></td>"
						+ "<td>" + userinfoid + "</td>"
						+ "<td><select id='type" + id + "'><option value='0'>已删除</option><option value='1'>根用户</option><option value='2'>管理员</option><option value='3'>教师</option><option value='4'>学生</option></select></td>"
						+ "<td><input type='text' id='account" + id + "' value='" + account + "' /></td>"
						+ "<td><input type='text' id='name" + id + "' value='" + name + "' /></td>"
						+ "<td><button class='btn btn-primary btn-xs visi' onClick='shareUser()'>分享</button></td>"
						+ "<td><input type='checkbox' class='switch' id='gender" + id + "' " + gender + " /></td>"
						+ "<td><input type='text' id='year" + id + "' value='" + year + "' /></td>"
						+ "<td><input type='text' id='description" + id + "' value='" + description + "' /></td>"
						+ "<td><input type='text' id='sizeall" + id + "' value='" + sizeall + "' /></td>"
						+ "<td><input type='text' id='sizeone" + id + "' value='" + sizeone + "' /></td>"
						+ "<td><input type='text' id='sizecurrent" + id + "' value='" + sizecurrent + "' /></td>"
						+ "<td>" + time + "</td>"
						+ "<td><button class='btn btn-success btn-xs visi' onClick='moreInfo()'>更多</button></td>"
						+ "<td><button class='btn btn-warning btn-xs visi' onClick='changeInfo()'>改</button></td></tr>";
					$("#userList").append(tr);
					$("#type" + id).val(type);
				}
			}
		});
	}
	function moreInfo() {
		var e = window.event;
		var t = $(e.target || e.srcElement);
		if (tipsTest(t) == true) {
			tips();
			return false;
		}
		var tr = t.parent().parent();
		var id = tr.attr("userid");
		var userinfoid = tr.attr("userinfoid");
		$.ajax({
			url : "/admin/realname/" + userinfoid,
			type : "post",
			contentType : "application/json;charset=UTF-8",
			dataType : "json",
			success : function(data) {
				var d = data.data;
				var type = userType2Str(d.type);
				var name = d.name;
				var number = d.number;
				var idcard = d.idcard;
				var h = "<table>"
					+ "<tr><td class='tRight'>用户ID</td><td>" + id + "</td></tr>"
					+ "<tr><td class='tRight'>&emsp;</td></tr>"
					+ "<tr><td class='tRight'>实名ID</td><td>" + userinfoid + "</td></tr>"
					+ "<tr><td class='tRight'>实名类型</td><td>" + type + "</td></tr>"
					+ "<tr><td class='tRight'>真实姓名</td><td>" + name + "</td></tr>"
					+ "<tr><td class='tRight'>学号</td><td>" + number + "</td></tr>"
					+ "<tr><td class='tRight'>身份证号码</td><td>" + idcard + "</td></tr>"
					+ "<tr><td class='tRight'>&emsp;</td></tr>"
					+ "<tr><td class='tRight'>用户信息</td><td><a href='/jump?jump=/admin/info/user/" + id + "' target='_blank'>查询</a></td></tr>"
					+ "<tr><td class='tRight'>所有文件</td><td><a href='/jump?jump=/admin/info/user/" + id + "' target='_blank'>查询</a></td></tr>"
				tips(t, h);
			}
		});
	}
	function changeInfo() {
		var e = window.event;
		var t = $(e.target || e.srcElement);
		if (tipsTest(t) == true) {
			tips();
			return false;
		}
		var tr = t.parent().parent();
		var id = tr.attr("userid");
		var type = $("#type" + id).val();
		var account = $("#account" + id).val();
		var name = $("#name" + id).val();
		var gender = $("#gender" + id).is(":checked") ? "1" : "0";
		var year = $("#year" + id).val();
		var description = $("#description" + id).val();
		var sizeone = $("#sizeone" + id).val();
		var sizeall = $("#sizeall" + id).val();
		var sizecurrent = $("#sizecurrent" + id).val();
		$.ajax({
			url : "/admin/edit/user",
			type : "post",
			data : JSON.stringify({
				id : id,
				type : type,
				name : name,
				gender : gender,
				year : year,
				account : account,
				description : description,
				sizeone : sizeone,
				sizeall : sizeall,
				sizecurrent : sizecurrent
			}),
			contentType : "application/json;charset=UTF-8",
			dataType : "json",
			success : function(data) {
				tips(t, "修改成功");
			}
		});
	}
	function initSearch() {
		$("#sizeoneLeft,#sizeoneRight").tooltip({
			fallback : "单位：MB。",
			html : true
		});
		$("#sizeallLeft,#sizeallRight").tooltip({
			fallback : "单位：MB。",
			html : true
		});
		$("#sizecurrentLeft,#sizecurrentRight").tooltip({
			fallback : "单位：MB。",
			html : true
		});
		$("#timeLeft,#timeRight").tooltip({
			fallback : "请输入时间。<br>例如：等于20190102030405表示2019年01月02日03时04分05秒。<br>输入不全自动转义。<br>例如：等于2019表示2019年1月到12月。<br>介于201706到2020表示2017年6月到2019年12月。",
			html : true
		});
		$("#showMore,#yearLeft,#yearTo,#yearRight,#sizeoneLeft,#sizeoneTo,#sizeoneRight,#sizeallLeft,#sizeallTo,#sizeallRight,#sizecurrentLeft,#sizecurrentTo,#sizecurrentRight,#timeTo,#timeLeft,#timeRight").hide();
		$("#yearOpt").change(function() {
			var o = $(this).val();
			if (o == "null") {
				$("#yearTo,#yearLeft,#yearRight").hide();
			} else if (o == "bt" || o == "nbt") {
				$("#yearTo,#yearLeft,#yearRight").show();
			} else {
				$("#yearLeft").show();
				$("#yearTo,#yearRight").hide();
			}
		});
		$("#sizeoneOpt").change(function() {
			var o = $(this).val();
			if (o == "null") {
				$("#sizeoneTo,#sizeoneLeft,#sizeoneRight").hide();
			} else if (o == "bt" || o == "nbt") {
				$("#sizeoneTo,#sizeoneLeft,#sizeoneRight").show();
			} else {
				$("#sizeoneLeft").show();
				$("#sizeoneTo,#sizeoneRight").hide();
			}
		});
		$("#sizeallOpt").change(function() {
			var o = $(this).val();
			if (o == "null") {
				$("#sizeallTo,#sizeallLeft,#sizeallRight").hide();
			} else if (o == "bt" || o == "nbt") {
				$("#sizeallTo,#sizeallLeft,#sizeallRight").show();
			} else {
				$("#sizeallLeft").show();
				$("#sizeallTo,#sizeallRight").hide();
			}
		});
		$("#sizecurrentOpt").change(function() {
			var o = $(this).val();
			if (o == "null") {
				$("#sizecurrentTo,#sizecurrentLeft,#sizecurrentRight").hide();
			} else if (o == "bt" || o == "nbt") {
				$("#sizecurrentTo,#sizecurrentLeft,#sizecurrentRight").show();
			} else {
				$("#sizecurrentLeft").show();
				$("#sizecurrentTo,#sizecurrentRight").hide();
			}
		});
		$("#timeOpt").change(function() {
			var o = $(this).val();
			if (o == "null") {
				$("#timeTo,#timeLeft,#timeRight").hide();
			} else if (o == "bt" || o == "nbt") {
				$("#timeTo,#timeLeft,#timeRight").show();
			} else {
				$("#timeLeft").show();
				$("#timeTo,#timeRight").hide();
			}
		});
	}
	function search() {
		var json = searchJson();
		if (json != false) {
			initUserInfo(json);
		}
	}
	function searchJson() {
		var nameText = $("#nameText").val();
		var descriptionText = $("#descriptionText").val();
		var userinfoidText = $("#userinfoidText").val();
		var accountText = $("#accountText").val();
		var genderText = $("input[name='gender']:checked").val();
		var typeText = $("input[name='type']:checked").val();
		var orderText = $("input[name='order']:checked").val();
		var orderDescText = $("input[name='orderDesc']:checked").val();
		var yearOpt = $("#yearOpt").val();
		var yearLeft = $("#yearLeft").val();
		var yearRight = $("#yearRight").val();
		var sizeoneOpt = $("#sizeoneOpt").val();
		var sizeoneLeft = $("#sizeoneLeft").val();
		var sizeoneRight = $("#sizeoneRight").val();
		var sizeallOpt = $("#sizeallOpt").val();
		var sizeallLeft = $("#sizeallLeft").val();
		var sizeallRight = $("#sizeallRight").val();
		var sizecurrentOpt = $("#sizecurrentOpt").val();
		var sizecurrentLeft = $("#sizecurrentLeft").val();
		var sizecurrentRight = $("#sizecurrentRight").val();
		var timeOpt = $("#timeOpt").val();
		var timeLeft = $("#timeLeft").val();
		var timeRight = $("#timeRight").val();
		/*对应字段*/
		var name = null,
			description = null,
			account = null,
			gender = null,
			type = null,
			userinfoid = null,
			year = null,
			yearEnd = null,
			yearNot = null,
			sizeone = null,
			sizeoneEnd = null,
			sizeoneNot = null,
			sizeall = null,
			sizeallEnd = null,
			sizeallNot = null,
			sizecurrent = null,
			sizecurrentEnd = null,
			sizecurrentNot = null,
			time = null,
			timeEnd = null,
			timeNot = null,
			orderBy = "id desc";
		if (nameText.length != 0) {
			name = nameText;
		}
		if (!$("#showMore").is(":hidden")) {
			if (descriptionText.length != 0) {
				description = descriptionText;
			}
			if (accountText.length != 0) {
				account = accountText;
			}
			if (userinfoidText.length != 0) {
				userinfoid = userinfoidText;
			}
			if (genderText != "null") {
				gender = genderText;
			}
			if (typeText != "null") {
				type = typeText;
			}
			if (yearOpt != "null") {
				if (yearLeft.length == 0) {
					showTips("yearLeft", "出生年未输入!");
					return false;
				} else {
					if (!isIntNum(yearLeft)) {
						showTips("yearLeft", "出生年格式错误!");
						return false;
					}
					year = yearLeft;
				}
				if (yearOpt == "bt" || yearOpt == "nbt") {
					if (yearRight.length == 0) {
						showTips("yearRight", "出生年未输入!");
						return false;
					} else {
						if (!isIntNum(yearRight)) {
							showTips("yearRight", "出生年格式错误!");
							return false;
						}
						yearEnd = yearRight;
						if (year >= yearEnd) {
							showTips("yearEnd", "右侧不可小于左侧!");
							return false;
						}
					}
				}
				if (yearOpt == "is") {
					yearEnd = year;
				} else if (yearOpt == "not") {
					yearNot = 1;
					yearEnd = year;
				} else if (yearOpt == "lt") {
					yearEnd = year;
					year = null;
				} else if (yearOpt == "nbt") {
					yearNot = 1;
				}
			}
			if (sizeoneOpt != "null") {
				if (sizeoneLeft.length == 0) {
					showTips("sizeoneLeft", "单文件容量未输入!");
					return false;
				} else {
					if (!isIntNum(sizeoneLeft)) {
						showTips("sizeoneLeft", "单文件容量格式错误!");
						return false;
					}
					sizeone = sizeoneLeft;
				}
				if (sizeoneOpt == "bt" || sizeoneOpt == "nbt") {
					if (sizeoneRight.length == 0) {
						showTips("sizeoneRight", "单文件容量未输入!");
						return false;
					} else {
						if (!isIntNum(sizeoneRight)) {
							showTips("sizeoneRight", "单文件容量格式错误!");
							return false;
						}
						sizeoneEnd = sizeoneRight;
						if (sizeone >= sizeoneEnd) {
							showTips("sizeoneEnd", "右侧不可小于左侧!");
							return false;
						}
					}
				}
				if (sizeoneOpt == "is") {
					sizeoneEnd = sizeone;
				} else if (sizeoneOpt == "not") {
					sizeoneNot = 1;
					sizeoneEnd = sizeone;
				} else if (sizeoneOpt == "lt") {
					sizeoneEnd = sizeone;
					sizeone = null;
				} else if (sizeoneOpt == "nbt") {
					sizeoneNot = 1;
				}
			}
			if (sizeallOpt != "null") {
				if (sizeallLeft.length == 0) {
					showTips("sizeallLeft", "总容量未输入!");
					return false;
				} else {
					if (!isIntNum(sizeallLeft)) {
						showTips("sizeallLeft", "总容量格式错误!");
						return false;
					}
					sizeall = sizeallLeft;
				}
				if (sizeallOpt == "bt" || sizeallOpt == "nbt") {
					if (sizeallRight.length == 0) {
						showTips("sizeallRight", "总容量未输入!");
						return false;
					} else {
						if (!isIntNum(sizeallRight)) {
							showTips("sizeallRight", "总容量格式错误!");
							return false;
						}
						sizeallEnd = sizeallRight;
						if (sizeall >= sizeallEnd) {
							showTips("sizeallEnd", "右侧不可小于左侧!");
							return false;
						}
					}
				}
				if (sizeallOpt == "is") {
					sizeallEnd = sizeall;
				} else if (sizeallOpt == "not") {
					sizeallNot = 1;
					sizeallEnd = sizeall;
				} else if (sizeallOpt == "lt") {
					sizeallEnd = sizeall;
					sizeall = null;
				} else if (sizeallOpt == "nbt") {
					sizeallNot = 1;
				}
			}
			if (sizecurrentOpt != "null") {
				if (sizecurrentLeft.length == 0) {
					showTips("sizecurrentLeft", "已使用容量未输入!");
					return false;
				} else {
					if (!isIntNum(sizecurrentLeft)) {
						showTips("sizecurrentLeft", "已使用容量格式错误!");
						return false;
					}
					sizecurrent = sizecurrentLeft;
				}
				if (sizecurrentOpt == "bt" || sizecurrentOpt == "nbt") {
					if (sizecurrentRight.length == 0) {
						showTips("sizecurrentRight", "已使用容量未输入!");
						return false;
					} else {
						if (!isIntNum(sizecurrentRight)) {
							showTips("sizecurrentRight", "已使用容量格式错误!");
							return false;
						}
						sizecurrentEnd = sizecurrentRight;
						if (sizecurrent >= sizecurrentEnd) {
							showTips("sizecurrentEnd", "右侧不可小于左侧!");
							return false;
						}
					}
				}
				if (sizecurrentOpt == "is") {
					sizecurrentEnd = sizecurrent;
				} else if (sizecurrentOpt == "not") {
					sizecurrentNot = 1;
					sizecurrentEnd = sizecurrent;
				} else if (sizecurrentOpt == "lt") {
					sizecurrentEnd = sizecurrent;
					sizecurrent = null;
				} else if (sizecurrentOpt == "nbt") {
					sizecurrentNot = 1;
				}
			}
			if (timeOpt != "null") {
				if (timeLeft.length == 0) {
					showTips("timeLeft", "时间未输入!");
					return false;
				} else {
					time = date2Time(timeLeft);
					if (time == -1) {
						showTips("timeLeft", "时间格式错误!");
						return false;
					}
				}
				if (timeOpt == "bt" || timeOpt == "nbt") {
					if (timeRight.length == 0) {
						showTips("timeRight", "时间未输入!");
						return false;
					} else {
						timeEnd = date2Time(timeRight);
						if (time == -1) {
							showTips("timeRight", "时间格式错误!");
							return false;
						}
					}
					if (time >= timeRight) {
						showTips("timeRight", "右侧不可小于左侧!");
						return false;
					}
				}
				if (timeOpt == "is") {
					timeEnd = time;
					if (timeLeft.length != 14) {
						timeEnd = date2Time((Number(timeLeft) + 1).toString());
					}
				} else if (timeOpt == "not") {
					timeNot = 1;
					timeEnd = time;
					if (timeLeft.length != 14) {
						timeEnd = date2Time((Number(timeLeft) + 1).toString());
					}
				} else if (timeOpt == "lt") {
					timeEnd = time;
					time = null;
				} else if (timeOpt == "nbt") {
					timeNot = 1;
				}
			}
			if (orderText != "null") {
				orderBy = orderText;
				if (orderDescText) {
					orderBy += " desc";
				}
			}
		}
		var json = JSON.stringify({
			name : name,
			description : description,
			account : account,
			gender : gender,
			type : type,
			userinfoid : userinfoid,
			year : year,
			yearEnd : yearEnd,
			yearNot : yearNot,
			sizeone : sizeone,
			sizeoneEnd : sizeoneEnd,
			sizeoneNot : sizeoneNot,
			sizeall : sizeall,
			sizeallEnd : sizeallEnd,
			sizeallNot : sizeallNot,
			sizecurrent : sizecurrent,
			sizecurrentEnd : sizecurrentEnd,
			sizecurrentNot : sizecurrentNot,
			time : time,
			timeEnd : timeEnd,
			timeNot : timeNot,
			orderBy : orderBy
		});
		return json;
	}
	function showMore() {
		if ($("#showMore").is(":hidden")) {
			$("#showMore").show();
			$("#showMoreBtn").text("更少选项");
		} else {
			$("#showMore").hide();
			$("#showMoreBtn").text("更多选项");
		}
	}
</script>
</head>
<body>
	<table id="search">
		<tr>
			<td class="tRight">昵称</td>
			<td style="width:42em;">
				<input type="text" class="form-control" id="nameText">
			</td>
			<td style="text-align: right;">
				<button class="btn btn-primary" onClick="search()">搜索</button>
			</td>
			<td style="text-align: right;">
				<button class="btn btn-warning" onClick="showMore()" id="showMoreBtn">更多选项</button>
			</td>
		</tr>
	</table>
	<table id="showMore">
		<tr>
			<td class="tRight">描述</td>
			<td colspan="9">
				<input type="text" class="form-control" id="descriptionText">
			</td>
		</tr>
		<tr>
			<td class="tRight">账号</td>
			<td colspan="2">
				<input type="text" class="form-control" id="accountText">
			</td>
			<td class="tRight">实名ID</td>
			<td>
				<input type="text" class="form-control" id="userinfoidText">
			</td>
		</tr>
		<tr>
			<td class="tRight">性别</td>
			<td colspan="2">
				<input type="radio" value="null" name="gender" checked>不限&emsp;<input type="radio" value="1" name="gender">男&emsp;<input type="radio" value="0" name="gender">女
			</td>
			<td class="tRight">用户类型</td>
			<td colspan="6">
				<input type="radio" value="null" name="type" checked>不限&emsp;<input type="radio" value="0" name="type">已删除&emsp;<input type="radio" value="1" name="type">根用户&emsp;<input
					type="radio" value="2" name="type">管理员&emsp;<input type="radio" value="3" name="type">教师&emsp;<input type="radio" value="4" name="type">学生
			</td>
		</tr>
		<tr>
			<td class="tRight">总容量</td>
			<td>
				<select class="form-control" id="sizeallOpt">
					<option value="null" selected>不限</option>
					<option value="is">等于</option>
					<option value="not">不等于</option>
					<option value="gt">大于</option>
					<option value="lt">小于</option>
					<option value="bt">介于</option>
					<option value="nbt">不介于</option>
				</select>
			</td>
			<td>
				<input type="text" class="form-control" id="sizeallLeft">
			</td>
			<td class="tCenter">
				<span id="sizeallTo">到</span>
			</td>
			<td>
				<input type="text" class="form-control" id="sizeallRight">
			</td>
			<td class="tRight">出生年</td>
			<td>
				<select class="form-control" id="yearOpt">
					<option value="null" selected>不限</option>
					<option value="is">等于</option>
					<option value="not">不等于</option>
					<option value="gt">大于</option>
					<option value="lt">小于</option>
					<option value="bt">介于</option>
					<option value="nbt">不介于</option>
				</select>
			</td>
			<td>
				<input type="text" class="form-control" id="yearLeft">
			</td>
			<td class="tCenter">
				<span id="yearTo">到</span>
			</td>
			<td>
				<input type="text" class="form-control" id="yearRight">
			</td>
		</tr>
		<tr>
			<td class="tRight">已使用容量</td>
			<td>
				<select class="form-control" id="sizecurrentOpt">
					<option value="null" selected>不限</option>
					<option value="is">等于</option>
					<option value="not">不等于</option>
					<option value="gt">大于</option>
					<option value="lt">小于</option>
					<option value="bt">介于</option>
					<option value="nbt">不介于</option>
				</select>
			</td>
			<td>
				<input type="text" class="form-control" id="sizecurrentLeft">
			</td>
			<td class="tCenter">
				<span id="sizecurrentTo">到</span>
			</td>
			<td>
				<input type="text" class="form-control" id="sizecurrentRight">
			</td>
			<td class="tRight">单文件容量</td>
			<td>
				<select class="form-control" id="sizeoneOpt">
					<option value="null" selected>不限</option>
					<option value="is">等于</option>
					<option value="not">不等于</option>
					<option value="gt">大于</option>
					<option value="lt">小于</option>
					<option value="bt">介于</option>
					<option value="nbt">不介于</option>
				</select>
			</td>
			<td>
				<input type="text" class="form-control" id="sizeoneLeft">
			</td>
			<td class="tCenter">
				<span id="sizeoneTo">到</span>
			</td>
			<td>
				<input type="text" class="form-control" id="sizeoneRight">
			</td>
		</tr>
		<tr>
			<td class="tRight">注册时间</td>
			<td>
				<select class="form-control" id="timeOpt">
					<option value="null" selected>不限</option>
					<option value="is">等于</option>
					<option value="not">不等于</option>
					<option value="gt">大于</option>
					<option value="lt">小于</option>
					<option value="bt">介于</option>
					<option value="nbt">不介于</option>
				</select>
			</td>
			<td colspan="2">
				<input type="text" class="form-control" id="timeLeft">
			</td>
			<td class="tCenter">
				<span id="timeTo">到</span>
			</td>
			<td colspan="2">
				<input type="text" class="form-control" id="timeRight">
			</td>
		</tr>
		<tr>
			<td class="tRight">排序</td>
			<td colspan="9">
				<input type="radio" value="null" name="order" checked>默认&emsp;<input type="radio" value="id" name="order">注册时间&emsp;<input type="radio" value="userinfoid" name="order">实名ID&emsp;<input
					type="radio" value="account" name="order">账号&emsp;<input type="radio" value="name" name="order">昵称&emsp;<input type="radio" value="year" name="order">出生年&emsp;<input
					type="radio" value="type" name="order">类型&emsp;<input type="radio" value="sizeall" name="order">总容量&emsp;<input type="radio" value="sizeone" name="order">单文件容量&emsp;<input
					type="radio" value="sizecurrent" name="order">已使用容量&emsp;<input type="checkbox" value="1" name="orderDesc">倒序
			</td>
		</tr>
	</table>
	<table class="table table-hover table-striped table-condensed table-bordered1" id="userInfo">
		<thead>
			<tr>
				<th style="width: 2em;">
					<input type="checkbox" id="selectAll">
				</th>
				<th style="width: 4em;">实名ID</th>
				<th style="width: 4em;">用户类型</th>
				<th style="width: 10em;">账号</th>
				<th style="width: 10em;">昵称</th>
				<th style="width: 2em;"></th>
				<th style="width: 4em;">女/男</th>
				<th style="width: 4em;">出生年</th>
				<th>描述</th>
				<th style="width: 6em;">总容量</th>
				<th style="width: 6em;">单文件容量</th>
				<th style="width: 6em;">已使用容量</th>
				<th style="width: 11em;">注册时间</th>
				<th style="width: 2em;"></th>
				<th style="width: 2em;"></th>
			</tr>
		</thead>
		<tbody id="userList"></tbody>
	</table>
	<div id="toPage"></div>
</body>
</html>