.ico {
	width: 24px;
	height: 24px;
	margin: 0;
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAgMAAADXB5lNAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURQAAAP///wAAAJqamqMrUucAAAABdFJOUwBA5thmAAAAnklEQVQ4y83TPQ6DMAwFYFZ6P2fo1Dmn4BLsWSI1PgJDex3OwMBPE6LYD4mqgkp4/GS95A2uqu9z4zwuQU15nggdwqsBeDuEHmFAGBuAySH0CANCDJEQQwqs/SIYDtEeGSxzq2DZ9hrIBgWejIb2sySB/gPwLNEdwXoAKLf01/XXCAEpQkCKkEDHgU6AAGD4Z9hknPKxC0I59XLtuzMDhXYj3Pjb5/QAAAAASUVORK5CYII=)
}

.ico-ae {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAgMAAADXB5lNAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURQAAAB8AP8qM/wAAAALbCT0AAAABdFJOUwBA5thmAAAAuUlEQVQ4y93TsQ3CMBAF0CyAmM4uvEGuYpkbwYWPIgukyDxQ4AGQ4BxwbH8EblLxq+jpdPmW5WHo5/jIiS84mJw7wg3hugBcIsKMMCGcFwCJCDPChLAuqWFdUuB9vgKa045AvgdjAAhd8JQWhQ1sAivSghPhDZjYEDufwbFT0MEGRv1ZBjI6HRrQaRH5DmJsaCF9h6o6gpbW2lKBT3vpA7zJTV0C1sNtwKm9RTAk+17l30J56uW1/8wTJiY9/iGaKQAAAAAASUVORK5CYII=)
}

.ico-ai {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAgMAAADXB5lNAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURQAAACYTAP56AAAAAKrMenAAAAABdFJOUwBA5thmAAAAoklEQVQ4y+XTMQ7CMAwF0F4Acbp4yA3wxGVyhAwxQy/QoeeBgRwACZLSKs1XZbPzxzd8O4o8DHbO7y35Cye35YXwRHjMAPeMMCGMCLcZQDLChDAiLCV7WEoarO9rUHJVgSKATwpwPIJ9xyXBlGRC5NIprYNsCBy6sT54A9j5CEAGiKPUg4gOVEA6iLVXg7oVB65FK4S6vQY//+1/Qjv1du1qPgf3PGcgu+55AAAAAElFTkSuQmCC)
}

.ico-au {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAgMAAADXB5lNAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURQAAAAAmIADjvAAAAP2dKfYAAAABdFJOUwBA5thmAAAAo0lEQVQ4y93TsRHDIAwFUC+Qy3RQsEFUeRmNQIFSeAEXnicuwgC5S4CYYH5hNa7yy1d80Ok0DHqu75r4hYupeSE8EdYF4BERZoQJ4b4ASESYESaEUrKHUtJgm69ByngikNfgFgCCCp5ST/IKVgcm7sCxU4CM8wBWATE29CByDDaB5KIf+Nyb3gZgquAysMtFG3D5vYQejHA4dZV/C+3U27Uf5gOoDjsnVgUrhwAAAABJRU5ErkJggg==)
}

.ico-bat {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURQAAAP///5qamv8AAAD/AP//ADtQTQoAAAABdFJOUwBA5thmAAAAyklEQVRIx92UyQ2DQAxFaWHcgaeE0EFEBZHov5WQyRiM16xKhA8c4On7e8HDcIyoYXjANJ3n+TKOp38GeBVYgoCPAkvCtwBMAKiwAFjQA3rVUB0A1sZgrKB8MA+5AjYq8ECYBZA2KBMMoG7+EghN6jKJcxslAdHp23IU4MB+Vm058O7KHDeDNw+4U1jZbdztLXYPjBVbDcVT4GvfPvaeuQA9zV/vIcBKwSZkmxQauswnFKxWCwU1LBF63EaW5EalwHfO4OtAesyPEFcuZ5Q92Dgz1wAAAABJRU5ErkJggg==)
}

.ico-bt {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURQAAAGbM/////wAAAJqamlRXIrcAAAABdFJOUwBA5thmAAAAoElEQVRIx+3V2w2AIAwFUFcQJ5AJMLiB7j+ToAI13lLiIzFqP9ToyaUpMVTVFWVBbUBX78oaAfRWAoMRwGglQCMgoBEYkAgMSAQDUgQDUgQHYgQHYgTai82WAbBU8zqgtKs2PPhCwIs80DngLssi7t6iHsiXG4GSwNw6C8KkzoHsEmWD0gJQDwBSk/m9EAdVMur1PQQf+bt/gI9mcEAfrQndeIdSTjhK5gAAAABJRU5ErkJggg==)
}

.ico-c, .ico-cpp {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAYUExURQAAAP///wAAAP8zAP/MAGj/ADOZ/5qamgUDge0AAAABdFJOUwBA5thmAAABR0lEQVRIx93Vy23EIBAG4G0BKtjBmNxNB5YrQHIDHLaAXNJ+hvfwEpfdQzInZH36bc+A/Xi8o8SgKgCsK/FcgC+xAt/PBfgRK0AjhoBGjAGJGAMSMQElYgJKxAzkiBnIEaNZVCMbgFD87wH/Xv6yW0AHuLmw3HLTWh+2A7sHJ17VDrygAfz2ACO2AGwD9ghOH4DARRDA7wiuLQFbgT2BUyeAEQVgQARbAZaAPYEY4MELBmBbgBQwBCBLgAbVAcM4CWC8A/iusgQwphpgWJxCCGAuogIKwhh9Sdc6VQHj2pIDcKg4vAq4O5YAHCo+lSJAuM6WAGyIawwBigIZwT0Bx7UAcgR4AceVgKEbRmUgM4BqyyVw8ARMvWlVBMDSM0Cz7QPAKfAATHtwlI1jZKEP0B09G8foI04zPrzNiv/Db9RHgZjWW/78vw513b7P86RXAAAAAElFTkSuQmCC)
}

.ico-dll {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAgMAAADXB5lNAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURQAAAP///5qamgAAAD1tfF8AAAABdFJOUwBA5thmAAAA20lEQVQ4y9XTPRKCMBAFYC7AeLrNjPQ2VF4mFPZhhmfBBSg4jxZyAGc0/2xW1MLKLb952WQDqarvtXukWgLUlOou4SbhOgu4LBImCaOE8ywAi4RJwijBN7HQIIJvskKcr6Z9BFtHD20LrTkA6A0DZQGDSABFj5fEoFD2MFQkAG1XGQ7urL+CaJq3hTwY+HB2fA0VoHFgSPU4aT6+cxN6DCHhFgY4tDZM7lriLjatiCfCZwA6oATK4GsDuhJ40xTJ224n2NFjIg+XeuTx8y+Vb+wt0L/B+tTX1/6xntQSVxzFZqHZAAAAAElFTkSuQmCC)
}

.ico-xlsx, .ico-xls {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAbUExURQAAAP///xB8QQAAAJqamiGjZhhcNzPEgRNKLIXHxzIAAAABdFJOUwBA5thmAAAA8ElEQVRIx+3VQQ7CIBAF0F4BjO7hBDV4A72ACw7ghit4BY8tlCkd7PxOTLoxcRZNUx+/MJQ4DHtUEKoDZ7OqMCrgEjRwHRVwCxrgESLgETJgETJgEQAsEQAsEQi0CARahLQX3ZYJoNahAc9LALYDbg28lyMYcMbSaCuD/JAGg4Q8tAKLgW3XY4zx/szVTZLCvQIsBiWd1gL6MAG/BQy9AQFn3DYoz+vNtOA80fgtmN+gJ8BJqkBZRenDVqPKcAKnlNLjlesDtHXIgO2mCBx9S3AO9SeHPzkNLC0AYG4iOBfq0VMPr378/+BnQIC1yz//G73Vqg3NCzHwAAAAAElFTkSuQmCC)
}

.ico-exe {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAbUExURQAAAP///wAA/5qamgAAAAD/AP//AP8AAAQEBIliUIkAAAABdFJOUwBA5thmAAAAaElEQVRIx2NgGB7AGC/ApSA0NDgtLbm8vHgwK0D2haEgHiBMHQUuIi6OQkrIQFHCBQI8cCnAtIJUBahWEDSBoBsI+oIcR5LoC3IcSe2AIickR6ObFF9QZMKoArIV0LgYpFgBwcJ8OAAAP0vLeAgQkYoAAAAASUVORK5CYII=)
}

.ico-folder {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAgMAAADXB5lNAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAJUExURQAAAPjJKue0AH0sGt0AAAABdFJOUwBA5thmAAAAP0lEQVQ4y2NgGCxAaxUQrEASWAUGCD4TRKABXWABusAKEgQYQ5FBCLpAKIaAw6jAqADNBRjQUyGDKFo6HSQAALAk5kB9svN3AAAAAElFTkSuQmCC)
}

.ico-html, .ico-htm {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAYUExURQAAAP/////ORN1SRhuhYAAAAEqK9JqamviP4EUAAAABdFJOUwBA5thmAAABKUlEQVRIx63VS5KCMBCAYa8Qiez1Bqk+gdIHkEVq1my4wZTXVzCPfmVSU0Vv8/ETQPB0OmKiMQzMTk18dsBP7IHfZwe8Yg/QhAlowgYkYQOSaICaaICaaIGSqAD2yaAkZr6+Cf7IZrG+N7a5cAAgBQcDBcEAACrBwMBBUABAJygYJAgCABgJAgYNwv8ACd/yMDDlo8bFnQ3gMR2/fiY3rgzsiTBuYDlbAEtgXZwJphwoCQoQt0RY06RzCDD1AKYt1OuQYBozWGyAXdA7Bd47m/wL+C9o3yjPNmHf6ppoPKyasB532iXeWz+YDD4Nhw8LeKxTztAADxM4FbiJN8sbAf7yGgEOvA6ID4gOCOBVQH7EVEACh+QmmsAhX9fA8XUDiDkOxOYc8s//Bl+fB1CLERcjAAAAAElFTkSuQmCC)
}

.ico-png, .ico-jpg, .ico-jpeg, .ico-gif, .ico-bmp {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURQAAAP93Q////wAAAP+jf925mswAAAABdFJOUwBA5thmAAAArUlEQVRIx+XV0Q3CMAwE0K5AmMA3QZHZAPafCVCq2Gl9tVoqJMC/fjo7iaoOwxGlQXXgclqUjgm4agZuYwLumgEfEQIfEQMXEQMXQYBFEGARDLQIBlpE9BbdkwWg1vkbQYGsAwCroDyBfAYUSZa0VckxOWiT5D0Au6/5KSQB0yFh17EArwYHUwewGQGAcABfsgOUDmAH6Pt1xiYwm1BnbAL5Dj/z+f87UFqH/PkfA+mLsg1c3qsAAAAASUVORK5CYII=)
}

.ico-ini, .ico-inf {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAgMAAADXB5lNAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURQAAAP///5qamgAAAD1tfF8AAAABdFJOUwBA5thmAAAAqUlEQVQ4y+3TMQ7CIBgF4F7AeDpI7O7C5GVY3DHhOfQCHXqeOsgBTBRqmx9em1bj6hu//LxCCVW1nf1zSnjDTk15MNwZbh1BHxhahobh2hEgMLQMDcNQksNQIjCeTyDm9IePoMYGHBiMgbU5ALi4DHQEeJoAio7ZhNcoO5wqJgAbV7kc0l5/BSqdfXZhY0irBOoE68f3NKGOBmdLf11/eS90lfLU5bWv5gXFYULMoAWuqgAAAABJRU5ErkJggg==)
}

.ico-java, .ico-jar {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAASUExURQAAAP///wAAAAAA//8AAJqamuMcUM8AAAABdFJOUwBA5thmAAABL0lEQVRIx62VAarCMAyGvcLMDqAFD1BygkJPIHj/q7z139YlTdrxdAGhmI8vSVPxdrsighMKeE4mwuMEeIUz4P04AT6hD8wApMIFpKIFEgCh8AGh6ACHogMcigbI0wZUhQbmClSFBnIqu1Are2pBque7B+RSIfUBCPIAKIJaxAGK4GjCARYBxuwBWuAAWuABCZvoArMc4Xsg/wIUfx6OuYww59FFTbqGB6QTADWGD2a4LIpFgbtmjhZgrq9+gdkAWx7HuH4UQJDiAJRaAIk14uQCa5ndY0u0wc6YLPLkjLm1SaVHTGkNe2x5v0loaPDjlfFvYK1MPAD2Jl1gmZx0XgNon8RdN4D8HtHcJLFOExtAytFHND2I6L0HOoZgZ91k3o1ZNzc3dd2yQjcu+ef/AwAZliWOqDzvAAAAAElFTkSuQmCC)
}

.ico-js {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURQAAAP//////AAAAAJqamoaf/RcAAAABdFJOUwBA5thmAAABC0lEQVRIx9XV0RGDIAwGYFfgsoFZwEA3aPefqdZgCJCYXs+X8tj7/PmF9FyWO1YxVgcoTatsAXiUCDy3ALxKBHSECXSEDVSEDVSEA1pEBXKKxKBFMID1XFiBRDDIAlZiIBHUB3wi+isjDjh+OnKotgIF9gABmGAGqsFeIdEI+gapRvRAdjieJh8gP+xvQQHA5IG6RQV+B+QzTNEWKSppnWRf4uIuyATqMtAGVgsYJorfUEXAMJMnkIgeGC0GMLcYwNxiBFOLEUwtLsBKEcAfAMi/2wHyOGYTtGPKaIIWsBMDqAC7JKiArwAFW2DyAa72ZWUdgZdDi87AqAh75EB9seyZnNdfgeKuW778b8xnqjsJY6eOAAAAAElFTkSuQmCC)
}

.ico-lnk {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURQAAAP///wAAAJqamjNmqlRUBBwAAAABdFJOUwBA5thmAAAAnElEQVRIx+3V3QmAMAwEYFeIdgCNE6gTFNx/Ji3FWjHJge2T9B7tx9GfgF1XIyzkASZ6hUcAZkZgHQHYGIG8QgR5hQyyChlkFQq4KxRwV2ggVWggVUhv8XgyAcT0DTTwXzBsVxYFpE86cPsZbwCCwCFAxQ1oD/AUYdkCoYCcDTyRDeyrhoAgcGEPZF8UALHi88CgkSuealZT5c9/AMJxgqanfvMEAAAAAElFTkSuQmCC)
}

.ico-me {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAgMAAADXB5lNAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURQAAAAwATKKS/wAAAHFhGesAAAABdFJOUwBA5thmAAAAgElEQVQ4y6XTywmAMBCEYRsQqzN12NaOhzSQg/XowRQg+IiRlREUN3P8Dj8EslX1vWa9Fk+o22sLw8wwDQRjZAgMnqEfCBAZAoNnSJE7pIhCfp/Cvu4AJ06KAeIkqx1UCgActQA4agFw1ALgqAWSlAI4agGIGR4f9z/oqeu1v24DBuV/mYECBkwAAAAASUVORK5CYII=)
}

.ico-mp3, .ico-cda, .ico-aac, .ico-wav, .ico-wma, .ico-ogg, .ico-mid,
	.ico-flac {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURQAAAIGD8f///wAAALO0/zJg9N4AAAABdFJOUwBA5thmAAAAkUlEQVRIx+3VYQqAIAwFYK+gnWA7QbFuUPc/Uz8KnbT1IIUgfL8/nrghhtAjYqQCS7xFZgBWQWCbAdgFAV1hAl1hA1VhA1XhgFLhgFLhgVzhgVxh7aJamQHOTK8A0zNIzBAQAgxBJj6gJkDoCEr5Hg5Acxgg6j1YICHAAKRfgOuaEQyKIhh1+/Mf4FMgbrr8/AeunYWZnaiXpwAAAABJRU5ErkJggg==)
}

.ico-pdf {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURQAAAP9aWv///wAAAP+Xl17xa4MAAAABdFJOUwBA5thmAAAAxElEQVRIx+3VwQ3DIAwF0KyAOwGeIJW7Qbv/TG0VCgZ/4x445BBfefqxMVK2bUUJqA7ckynZA/CQCDz3ALwkAjoCAh2BgYrAQEU4oEU4oEV4oEZ4oEagXXQrU4A4K3azgANAzBwAOgEImgzHjAGdAPwxpo5AIM/BpwV91wh0bVrwbZG5dgpAPhZWBADluMxiQDudgaMLCKgckNNDe06/UQfQX7MFFAHuX7QBwxoQSOMXRmACRmACTJNpDkBdYDUQt5b8+d+kN4WBwokipwAAAABJRU5ErkJggg==)
}

.ico-pptx, .ico-ppt {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAYUExURQAAAP///8Q+HAAAAO1sR//HtZqamv+Pa8mLNPAAAAABdFJOUwBA5thmAAAA1ElEQVRIx+3VQQqDMBQEUK+QtNC1OYEl0H2gF8giJyh035XXb5PYmOB8h1Y3hc5Cgj4G/Rrsuj1iQRpwVovYgYCLZeA2EHC3DNQVENQVGFQVGFQVApgrBDBXSKBUSKBUoHfRvDIAcg4FmDoA6Ab0S2AMrmhAOkOBKiB4DHRejo8QRQt0ur20HCMIALxEXJ4y8ADk4wQCBX4zCF+AnoP3Y4JRz4M6XnOcNOo1YAgwDUCT/Ag4BhQBTgZqKpCBytdXAPyqNwG69ejm5dv/D34GWDG7/Pmfrr+7w8BmiNkAAAAASUVORK5CYII=)
}

.ico-pr {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAgMAAADXB5lNAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURQAAACoAM+Ry/wAAAGt/bK4AAAABdFJOUwBA5thmAAAAnklEQVQ4y+XTwQmEMBAFUBsQq0sOW4Inm0kJs+B4sIEcrEcPpgBhnbgrk3xhF8TDgv8SeAmTGUKK4neq157whtLsWRBmhGkAGAOCR+gRugGAA4JH6BG2IilsRRQ+8ylImrPwYD4AIbQ5OMsApnYAcohqAoh3pfBEYCeFMoir3mJsm4JsW0ogdmoJZslBRskg9v0HcMVT3gn0q+tv/5oVJSs5OGsJct0AAAAASUVORK5CYII=)
}

.ico-psd {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAgMAAADXB5lNAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURQAAAAAdJgDL/gAAAIZGp5QAAAABdFJOUwBA5thmAAAAqElEQVQ4y+XTvQ3CMBCG4SyAmM4uPEKqLOMRXOQoskCKzAMFHgAJ4gPLuReJSIiOT64eyfcjy123n+O9Jj/h4GpuhCvhsgDOmTATJsJpAUgmzISJoEW2oEUavPZrsGb4FoLIGyTCaCF6Abg+AsqRaEErb8ATQnKAaLs4C+scIWFSX7qaXXTDCmUVO1hJnwB+BLgdCLwS7HIKaKvDDD97yn+C9tXbb/+YB7JNOpr+rj+WAAAAAElFTkSuQmCC)
}

.ico-rar, .ico-zip, .ico-7z, .ico-gz {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAeUExURQAAAH7PO1XH9/lfXZqamv////2vQgD/AP//AP8AAMJrISMAAAABdFJOUwBA5thmAAAAaElEQVRIx2NgGB7ABS/ApaC8vKSjo2XmzCmDWQGyL1xD8YAQkAIlOFBNA4MghMiogkGmgGBsGsOBKcSEYIQIqgKERrIVwKwY6QooDklckUUwugXhQBRiQiBCZFTBIFNAKDYJFubDAQAAFplrAQNalX4AAAAASUVORK5CYII=)
}

.ico-reg {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURQAAAP///1LT/wAAAJqamq+bpYUAAAABdFJOUwBA5thmAAAAc0lEQVRIx2NgoAYwxgJQFBgKYgBjAwIKTIwJKXA2IKDAxZiQAmQjsCpANgK7AiQjsCtAMgKHAoQROBQgjMClAG4ELgVwI7DFBUqUYVEAAcKjCqitQEgJCBRBhBKEOaqATAWjQT0a1CMwqAkpMMYJqFLzAwDkeJrZXlehewAAAABJRU5ErkJggg==)
}

.ico-txt, .ico-css, .ico-sql {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABAAgMAAADXB5lNAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURQAAAP///5qamgAAAD1tfF8AAAABdFJOUwBA5thmAAAAbElEQVQ4y2NgIAz4/8PAB4gAbygM/EEXeI8u8PoARCBrFQQsffUBXWAPusB6dIHVB1ANfbXqA7rAHnSB9egCYEOQDF0FNgQhAPUfQgCoqwCrQCgSIFcAZigQrCRXYNQdo+6grjsQWR2R2/ECAMMPhFHUZv7RAAAAAElFTkSuQmCC)
}

.ico-vbs {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURQAAAP///wD//wAAAJqaml3mu2wAAAABdFJOUwBA5thmAAABC0lEQVRIx9XV0RGDIAwGYFfgsoFZwEA3aPefqdZgCJCYXs+X8tj7/PmF9FyWO1YxVgcoTatsAXiUCDy3ALxKBHSECXSEDVSEDVSEA1pEBXKKxKBFMID1XFiBRDDIAlZiIBHUB3wi+isjDjh+OnKotgIF9gABmGAGqsFeIdEI+gapRvRAdjieJh8gP+xvQQHA5IG6RQV+B+QzTNEWKSppnWRf4uIuyATqMtAGVgsYJorfUEXAMJMnkIgeGC0GMLcYwNxiBFOLEUwtLsBKEcAfAMi/2wHyOGYTtGPKaIIWsBMDqAC7JKiArwAFW2DyAa72ZWUdgZdDi87AqAh75EB9seyZnNdfgeKuW778b8xnqjsJY6eOAAAAAElFTkSuQmCC)
}

.ico-mp4, .ico-3gp, .ico-avi, .ico-mov, .ico-wmv, .ico-3gp, .ico-rm,
	.ico-rmvb, .ico-flv, .ico-f4v {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAPUExURQAAAIGD8f///wAAAK+w/0Mwa84AAAABdFJOUwBA5thmAAAAiUlEQVRIx+3VwQ2AIAwFUFewTkAnwNQNdP+ZjBKhhNZ/4Qb/1uTlHyiEZekRMVKBfW0iEYBDEDgjAJcgoCtMoCtsoCpsoCocUCocUCo8kCs8kCusXVQrM0DKNiIgTgke4C/v0ALKIDxD+AcMACHAANAYAJ4DPkm4C3Ob8D7gGzWf3gS9gLjp8vPftimMwRxJflQAAAAASUVORK5CYII=)
}

.ico-vsdx, .ico-vsd {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABABAMAAABYR2ztAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAbUExURQAAAP///xhavQAAAJqamit800Gl7hA/kRdZvS0Wa/cAAAABdFJOUwBA5thmAAAA+0lEQVRIx+3VMRKCMBAFUK6wcRBbcgKceAO5gEUOYOPYWqW289giWcIu2RBUGmfcwibPT5ZshqJYo4xQDOwhKtNkwMHkwLHJgNbkAI0QAY2QAYmQAYlIgDEiAcaIFAgRKRAipLNgRyYAX5sANC2/WFGgGKh74G4EaB1FVM4xABD+7oFzXQQB9QBAyQk1KA6me4gB6wIXcAse7KYAvgXYRv+kBFBLgP/dXs4x0Ah0GsASAAiuj67uHPgGVUgAiICaB69FfBlZgBMZAciAbhWP9HMADJR2OtUwTK4H1p5mQWmtfReMgxsB6eqxPUiXl3WRv/5/8DPAJGuVL/8TH8uosF0rNmgAAAAASUVORK5CYII=)
}

.ico-docx, .ico-doc {
	content:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAB1klEQVR4nO2bwW3DMAxF6SIL5NgdMkSRMdodukFP3aBH39sxggyRHXrMCCoE1KhhuDIlUiQl858CR7Y+HynaQmJw7VxDIvxgHE3KO8tFQgj2GAzDn+UQAgrC/JylHtgdCmgcxykwcoaaBACMEJoFAEwQmgYADBCaBwBECF0AAAKEbgBAIYSuAEABhO4AQCaELgFABoRuAcAMQmpf0/ReIPfUtYMHkhsFlSQlBQ0N4PHlIhLt9+dZZJ5JqB4gFbz0XFGbAKQNSc/Z9V0AIwdgwIOq0HeBZXdOrVPOseevezGfy/Nxc4xXAPcF1+7j8VhpZ8dkkSJ0BSwD4HhgyVkqteRLgPNiqaooXQant1uxn9v7aXNMVgXULFGN8o+qthucAqL2CkwWKSL1AEpw0ru+/8TWBDEBWQl6rmwANdaq1vqPqtID5gHFz5TMU+Bg5vXnAOoFcrNbe3yuiiogVZZr3+WOl5QvAQMekjo+fRSfe7++bo4prgCOUtcu/yjzFYDJIkUkALkZtJDxpXbfBB3A1gCNDYzknKgKkDQkDby5/weU6Pfn8dVYvQcY8KAqB2DAg6ocgAEPqnIABjyoygEY8KAqB2DAg6p2D6DlV2dzxfKqrasrAcAP6I+QbDu1W2AAAAAASUVORK5CYII=)
}