/* 预览文件 */
#previewText {
	width: 40em;
	min-height: 20em;
	max-height: 40em;
	white-space: pre-wrap;
	word-wrap: break-word;
}

#previewImg {
	width: 40em;
	min-height: 20em;
}

#previewImg img {
	max-width: 100%;
}

#bigImg {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#bigImgShade {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1000;
	top: 0;
	left: 0;
}